.screen {

}

.player {
  &--position-1 {

  }

  &__icon {
    &--on-team {

    }

    &--selected {

    }
  }

  &__role {
    &--face-down {
      background-image: url('/loyalty-card--face-down.jpg');
    }

    &--resistance {
      &--1 {
        background-image: url('/loyalty-card--resistance--1.jpg');
      }

      &--2 {
        background-image: url('/loyalty-card--resistance--2.jpg');
      }

      &--3 {
        background-image: url('/loyalty-card--resistance--3.jpg');
      }

      &--4 {
        background-image: url('/loyalty-card--resistance--4.jpg');
      }

      &--5 {
        background-image: url('/loyalty-card--resistance--5.jpg');
      }

      &--6 {
        background-image: url('/loyalty-card--resistance--6.png');
      }
    }

    &--spy {
      &--1 {
        background-image: url('/loyalty-card--spy--1.jpg');
      }

      &--2 {
        background-image: url('/loyalty-card--spy--2.jpg');
      }

      &--3 {
        background-image: url('/loyalty-card--spy--3.jpg');
      }

      &--4 {
        background-image: url('/loyalty-card--spy--4.png');
      }
    }
  }

  &__leader-token {
    background-image: url('/token--leader.jpg');

    &--hidden {
      background-image: none;
    }
  }

  &__vote {
    &--face-down {
      background-image: url('/vote--face-down.jpg');
    }

    &--approve {
      background-image: url('/vote--approve.jpg');
    }

    &--reject {
      background-image: url('/vote--reject.jpg');
    }
  }

  &__mission-card {
    background-image: url('/mission--face-down.jpg');

    &--hidden {
      background-image: none;
    }
  }
}

.game {
  &--5-players {
    .player {
      &--position-2 {

      }

      &--position-3 {

      }

      &--position-4 {

      }

      &--position-5 {

      }
    }
  }

  &--6-players {
    .player {
      &--position-2 {

      }

      &--position-3 {

      }

      &--position-4 {

      }

      &--position-5 {

      }

      &--position-6 {

      }
    }
  }

  &--7-players {
    .player {
      &--position-2 {

      }

      &--position-3 {

      }

      &--position-4 {

      }

      &--position-5 {

      }

      &--position-6 {

      }

      &--position-7 {

      }
    }
  }

  &--8-players {
    .player {
      &--position-2 {

      }

      &--position-3 {

      }

      &--position-4 {

      }

      &--position-5 {

      }

      &--position-6 {

      }

      &--position-7 {

      }

      &--position-8 {

      }
    }
  }

  &--9-players {
    .player {
      &--position-2 {

      }

      &--position-3 {

      }

      &--position-4 {

      }

      &--position-5 {

      }

      &--position-6 {

      }

      &--position-7 {

      }

      &--position-8 {

      }

      &--position-9 {

      }
    }
  }

  &--10-players {
    .player {
      &--position-2 {

      }

      &--position-3 {

      }

      &--position-4 {

      }

      &--position-5 {

      }

      &--position-6 {

      }

      &--position-7 {

      }

      &--position-8 {

      }

      &--position-9 {

      }

      &--position-10 {

      }
    }
  }

  &__area {

  }

  &__board {
    &__panel {

    }

    &__results {

    }
  }

  &__table {
    &__top {
      &__display {

      }
    }

    &__middle {
      &__strip {

      }
    }

    &__bottom {
      &__results {

      }
    }

    &__decision-panel {
      &--open {

      }

      &--team {
        .team {

        }
      }

      .team {

      }

      &--vote {
        .vote-tokens {

        }
      }

      .vote-tokens {
        .vote-token {
          &--approve {
            background-image: url('/vote--approve.jpg');
          }

          &--reject {
            background-image: url('/vote--reject.jpg');
          }

          &--selected {

          }
        }
      }

      &--mission {
        .mission-cards {

        }
      }

      .mission-cards {
        .mission-card {
          &--success {
            background-image: url('/mission--success.jpg');
          }

          &--fail {
            background-image: url('/mission--fail.jpg');
          }

          &--selected {

          }
        }
      }

      .submit {

      }
    }
  }
}

.chat-panel {

}
